
html {
	height: 100%;
}
/* background color */
body {
	min-height: 100%;
	background: #e3e2df;
	
}

/* navbar */
nav.navbg {
	border-bottom: 2px solid;
	background-color: #1ed1f0;
}

nav a.navbar-brand {
	font-family: 'Montserrat', sans-serif;
}

/* font for paragraph in about me */
p {
  font-family: 'Montserrat', sans-serif;
}


/* container background color */
div.about-me, div.portfolio, div.contact {
	background-color: #1ed1f0;
}

/* git hub and linked in icons */
a i {
	font-size: 5rem;
  color: #e3e2df;
}

/* footer */
footer.footer {
  background-color: #1ed1f0;
  
}
